<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARUqhNijXU9XDu4P9rhvC0UBHX9s7Bez4</string>
	<key>GCM_SENDER_ID</key>
	<string>2456262485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HomeStage.artista</string>
	<key>PROJECT_ID</key>
	<string>homestage-51e95</string>
	<key>STORAGE_BUCKET</key>
	<string>homestage-51e95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2456262485:ios:83e8b32c58072205d4c1dc</string>
</dict>
</plist>